# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

/*.xls
/*.xlsx
/*.docx
/youngRatolis_21-04-2017/Photos/
/Fibers_size_20-01-2017/Photos/
/Fibers_size_20-01-2017/Data_Rois/
/Fibers_size_20-01-2017/*.xlsx
/Fibers_size_20-01-2017/*.docx
/Fibers_size_20-01-2017/*.txt
/Collagen_17-03-2016/Data/
/Collagen_17-03-2016/Photos/
/Collagen_17-03-2016/*.txt

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
